<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxGLQGLBgL5uiJbmSy33m82dxgVyCz5eo</string>
	<key>GCM_SENDER_ID</key>
	<string>344834796221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kyungsoo.PushNotificationWithFirebase-iOS</string>
	<key>PROJECT_ID</key>
	<string>pushnotification-ios-a3f10</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotification-ios-a3f10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344834796221:ios:17aedcab0aa214d916e5d4</string>
</dict>
</plist>